.about_card {
  width: 400px;
  height: 600px;
  background: #fff;
  box-shadow: 0 0 2rem rgb(0 0 255 / 10%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
